[submodule "code/Snap-4.0"]
	path = code/Snap-4.0
	url = https://hub.fastgit.org/tyn1998/Snap-4.0.git
[submodule "code/life_tree"]
	path = code/life_tree
	url = https://hub.fastgit.org/tyn1998/life_tree.git
[submodule "code/ppi_resilience"]
	path = code/ppi_resilience
	url = https://hub.fastgit.org/tyn1998/ppi_resilience.git
[submodule "code/ppi-data-provider"]
	path = code/ppi-data-provider
	url = https://hub.fastgit.org/tyn1998/ppi-data-provider.git
[submodule "code/ppi-galaxy"]
	path = code/ppi-galaxy
	url = https://hub.fastgit.org/tyn1998/ppi-galaxy.git
